@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #121212;
  line-height: 1.4;
  @apply text-base;
}

.light {
  transition: 0.25s;
  @apply bg-white text-black;

  .display-mode__icon {
    @apply text-black;
  }

  .about {
    @apply text-tangerine;
  }

  .work {
    @apply text-grass;
  }

  .photos {
    @apply text-rose;
  }

  .resume {
    @apply text-cerulean;
  }
}

.dark {
  transition: 0.25s;
  @apply bg-dark text-white;

  .display-mode__icon {
    @apply text-white;
  }

  .about {
    @apply text-cantaloupe;
  }

  .work {
    @apply text-mint;
  }

  .photos {
    @apply text-coral;
  }

  .resume {
    @apply text-steel;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ovo";
}

.category {
  @apply mx-8 my-2 my-1 text-center opacity-100 cursor-pointer font-light;

  &:hover {
    @apply underline;
  }
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.icon {
  height: 40px;
  &:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}
