@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #121212;
  line-height: 1.4;
  @apply text-base;
}

p {
  @apply py-1;
}

*:focus {
  outline: 0 !important;
}

.light {
  transition: 0.25s;
  @apply bg-white text-black;

  .display-mode__icon {
    @apply text-black;
  }

  .name {
    @apply text-black;
  }

  .home {
    @apply text-cerulean;
  }

  .about {
    @apply text-tangerine;
  }

  .photos {
    @apply text-grass;
  }

  .resume {
    @apply text-rose;
  }

  .footer {
    @apply bg-white;
  }

  .link {
    &:hover {
      @apply bg-black text-white;
    }
  }
}

.dark {
  transition: 0.25s;
  @apply bg-dark text-white;

  .display-mode__icon {
    @apply text-white;
  }

  .name {
    @apply text-white;
  }

  .home {
    @apply text-steel;
  }

  .about {
    @apply text-cantaloupe;
  }

  .photos {
    @apply text-mint;
  }

  .resume {
    @apply text-coral;
  }

  .footer {
    @apply bg-dark-300;
  }

  .link {
    &:hover {
      @apply bg-white text-black;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.name {
  font-family: "Ovo";
}

.footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  animation: slide-up 0.5s cubic-bezier(0.4, 0, 0.2, 1) backwards;

  &__link {
    &:hover {
      @apply underline;
    }
  }
}

.category {
  @apply mx-8 my-2 my-1 text-center opacity-100 cursor-pointer font-light;

  &:hover {
    @apply underline;
  }
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.icon {
  &:hover {
    opacity: 0.5;
    transition: 0.5s;
  }

  &__regular {
    height: 40px;
    img {
      min-width: 40px;
    }
  }
}

.content-container {
  max-height: 600px;
  margin-bottom: 60px;
  @apply overflow-y-scroll py-2;
}

.about-photo {
  max-width: 460px;
}

.link {
  @apply underline;
}

.image {
  @apply cursor-pointer m-2;
}

.lightbox {
  background: rgba(0, 0, 0, 0.9);
}

.prev,
.next {
  @apply cursor-pointer absolute p-8 border-none text-white top-1/2;
}

.close {
  @apply cursor-pointer absolute p-8 border-none text-white;
}

.prev {
  @apply left-0;
}

.next {
  @apply right-0;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 639px) {
  .lightbox-image__container {
    width: 100%;
  }
  .category {
    @apply mx-4;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .lightbox-image__container {
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .lightbox-image__container {
    width: 80%;
  }
}

@media (min-width: 1500px) {
  .lightbox-image__container {
    width: 70%;
  }
}
